/* src/styles/index.css */

/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and general layout */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

/* Flexbox for Layout */
.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* src/styles/index.css */
@media (max-width: 1200px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero-content {
    max-width: 100%;
  }
}

